*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
      /* --white-bg: #f6f8f8;
      --information-bg: #f4f7ff;
      --card-bg: #FFFFFF;
      --main-black: #010610;
      --stroke: #eaebec; */
      --card-bg:#EDEDED;
      --green: #1BD391;
      --grey: #828282;
      --black: #000000;
      --navbar-bg-75:rgba(0, 0, 0, 0.75);
      --white:#ffffff;
      --navbar-bg:#424242;
  }
  
  body {
      width: 100vw;
      min-height: 100vh;
      font-family: 'Poppins', sans-serif;
      background-color: var(--white-bg);
      color: var(--main-black);
      font-size: 1rem;
      line-height: 1.6;
      overflow-x: hidden;
  }
  
  
  